<h1><%= @book.title %></h1>

<div id="reservation-status">
  <%= render partial: "books/reservation_status", locals: {reservation: @book_reservation} %>
</div>

<p>
	by <%= @book.authors %>
</p>

<p>
	ISBN: <%= @book.isbn %>
</p>

<p>
	<%= @book.description %>
</p>

<div id="book-rating">
  <%= render partial: "books/book_rate.html.erb", locals: { remote: true, book: @book }%>
</div>

<%= link_to "Edit", edit_book_path(@book), class: 'btn' %>

<span id="reservation-links">
  <%= render partial: "books/reservation_links", locals: {book: @book, reservation: @book_reservation} %>
</span>

<%= link_to "Delete", book_path, method: :delete, class: 'btn btn-danger' %>

<p>
  <%= link_to "Back to list", books_path %>
</p>


<div id="reservation-form" style="display: none;">
</div>
